.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.carouselButton {
  /* hide buttons when page first loads */
  display: none;
  /* vertically center buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  /* style buttons */
  padding: 10px;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.1s;
  color: aliceblue;
}

.carouselButton span {
  font-size: 3rem;
}

.carouselButton:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carouselButtonNext {
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}

.text-container {
  max-width: 100ch;
  margin: auto;
  padding: 2rem;
  padding: 20px;
  background-color: #BFB1C4;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(78, 40, 89, 0.1);
}

/* Slide Content */
h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #351a3d;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #351a3d;
}
