/* CAROUSEL */
.carousel {
  --current-slide: 0;
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
  height: auto;
}

.slide {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-content {
  max-width: 100ch;
  margin: auto;
  padding: 2rem;
  padding: 20px;
  background-color: #bfb1c4;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(78, 40, 89, 0.1);
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #351a3d;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #351a3d;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.instructions {
  margin-top: 1.6rem;
}

p,
ul,
li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #351a3d;
}

ul {
  margin-left: 1.6rem;
}

/* CAROUSEL BUTTONS */
.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
}

.controls span {
  font-size: 3rem;
}

/* hide buttons when page first loads */
.control {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  height: 4rem;
  flex: 40px 0 0;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(53, 26, 61, 0.5);
  transition: transform 200ms, background-color 200ms;
  will-change: transform, background-color;
  font-size: 20px;
}

.control:hover {
  cursor: pointer;
  transform: scale(1.15);
  background: rgba(255, 255, 255, 0.45);
  color: rgba(53, 26, 61, 0.9);
}

.control:focus {
  background: rgba(255, 255, 255, 0.6);
}
