* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background-color: #7d5c86;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  min-height: 400px;
  padding: 40px 40px 80px 40px;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #351a3d;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

/* USER INPUT */
input[type='text'] {
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #351a3d;
  border-radius: 5px;
  width: 70%;
  background-color: aliceblue;
  color: #351a3d;
}

input[type='text']:focus {
  outline: 3px solid #351a3d;
}

.input-button {
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: aliceblue;
  color: #351a3d;
  border: 1px solid #351a3d;
  border-radius: 5px;
  cursor: pointer;
}

.input-button:hover {
  color: aliceblue;
  background-color: #351a3d;
  border: 1px solid aliceblue;
}

.hidden {
  display: none;
}
